*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* font-family: 'Pacifico', cursive; */
  background-color: #ffffe0;
}

h1 {
  text-align: center;
  margin: 40px auto;
  letter-spacing: 0.25em;
  color: #001b44;
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2%;
  width: 90%;
  margin: 25px auto;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
  background-color: #093145;
  color: whitesmoke;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
}

/* Media queries for tablet */
@media screen and (min-width: 768px) {
  .containerCard {
    width: 70%;
  }

  .box {
    height: 150px;
    font-size: 24px;
  }
}

/* Media queries for desktop */
@media screen and (min-width: 1100px) {
  .containerCard {
    width: 60%;
  }

  .box {
    height: 180px;
    font-size: 24px;
  }
}

/* Media queries for extra large screens */
@media screen and (min-width: 1440px) {
  .containerCard {
    width: 50%;
  }

  .box {
    height: 210px;
    font-size: 24px;
  }
}
